h1,h3{
    font-family: Mali ;
    color: darkblue;
}

.blog-list li{

    background-color: beige;
    background-blend-mode: difference;
    border-radius: 10px;
    color: darkblue;
    margin: 15px;
}
/*
.blog-list li:nth-child(1){
    background-color: blue;
    color: darkblue;
}
.blog-list li:nth-child(2){
    background-color: red;
    color: aliceblue;
}
.blog-list li:nth-child(3){
    background-color: green;
    color: aliceblue ;

} */
.abgerundeter-Rahmen{
    border: 3px solid #018;
    border-radius: 30px;
    padding: 10px;
}